.comics-container {
	display: flex;
	flex-wrap: wrap;
	gap: 35px;
	max-width: 1200px;
	margin: 30px auto;
	justify-content: center;
}
.comics__item {
	background-color: var(--color-light);
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: .5;
}
.comics__item:hover {
	transform: rotate(-3deg) scale(0.95);
	filter: saturate(150%);
}
.comics__name {
	display: flex;
	margin: auto;
	padding: 10px;
}